NEXT_PUBLIC_SUPABASE_URL=https://eslygfjpxwrjnoimsrly.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzbHlnZmpweHdyam5vaW1zcmx5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4NTgxNDAsImV4cCI6MjA5MzQzNDE0MH0.b0MZyWgTot5uBOeoXm_vUEmGeAWiStMm4eqcPUn9gvs
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzbHlnZmpweHdyam5vaW1zcmx5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Nzg1ODE0MCwiZXhwIjoyMDkzNDM0MTQwfQ.zTMI8PjaF6L785B69zRUDeEqPcYz4LE1DrYo-7tpaP0
NEXT_PUBLIC_APP_URL=https://barberia-saas-ochre.vercel.app/
